.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: -webkit-fill-available;
    height: 10vh;
    font-size: 1.2rem;
    padding-inline: 2rem;
}

.navbar-brand {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.navbar-brand span {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    gap: 2rem;
}

.navbar .navbar-links a {
    text-decoration: none;
    color: inherit;
    font-size: 1.1rem;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.navbar .navbar-links a:hover {
    background-color: rgba(255, 255, 255, 0.208);
}

.navbar button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.navbar.light-theme {
    background-color: #acced1;
    color: #000000;
}

.navbar.dark-theme {
    background-color: #243343;
    color: #ffffff;
}

.navbar.light-theme .theme-toggle svg {
    fill: #145a6f;
}

.navbar.dark-theme .theme-toggle svg {
    fill: #c1c14b;
}

